page-article-comment {
  .portrait {
    border-radius: 50%;
    vertical-align: middle;
  }
  ion-col h2,
  ion-col p,
  ion-col span{
    margin-bottom: 0.5rem;
  }
  ion-col p {
    margin: 0;
    text-overflow: ellipsis;
    display: -webkit-box; // -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
