page-user-info {
  .portrait {
    border-radius: 50%;
    vertical-align: middle;
  }
  .user-info-header-wrap {
    background-color: white;
  }
  .user-info-header {
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .user-info-content-wrap {
    margin-top: 10px;
    background-color: white;
  }

  .user-info-article span,
  .user-info-article h2,
  .user-info-article ion-note{
      padding: 5px 0px;
  }

  .user-info-article p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal; 

  }
}
