page-article-detail {
  .portrait {
    border-radius: 50%;
    vertical-align: middle;
  }
  ion-col div {
    color: #909090;
    padding: 0 10px
  }
  ion-col p {
    margin: 0;
    font-size: 1rem;
  }
}
